.nav a{
     text-decoration: none; 
    margin-right: 10px;
    font-weight: 500;
}

.active{
    text-decoration: underline;
    color: rgb(240, 17, 36);
}

.pending{
    text-decoration: dotted;
    color: rgb(241, 228, 34);
}